# SAÉ 1.04 Creation d'une base de données
<br>
<br>

Nous allons, lors de ce projet, utiliser la structure de données du naufrage du titanic.
<br> 
<br>titanic_train.csv au lien suivant : https://www.kaggle.com/c/titanic/data?select=train.csv
<br>Voici nos tables:
<br>
## Table clients :
Identifiant de passager, type: entier -> clé primaire
<br>Nom, type: chaine de caractère
<br>Sex, type: chaine de caractère
<br>Age, type: entier
<br><br>
## Table ticket :
Ticket, type: chaine de caractère -> clé primaire
<br>Classe passager, type: entier
<br>Identifiant de passager, type: entier -> clé étrangère (clients)
<br>Tarif, type: flottant
<br>Cabin, type: chaine de caractère
<br>Embarcation, type: chaine de caractère
## Table survie :
Identifiant de passager, type: entier -> clé étrangère
<br>Ticket, type: chaine de caractère -> clé étrangère
<br>Survécu, type: booléen
<br>Membres de fréres, soeurs, mari ou femme, type: entier
<br>Membres de parents ou enfants, type: entier
<br>
#### Clé primaire, composée de l'identifiant de passager et du ticket

# script SQL

SET datestyle TO "ISO , DMY";

<br>DROP TABLE IF EXISTS survie;
<br>DROP TABLE IF EXISTS ticket;
<br>DROP TABLE IF EXISTS clients;

<br>CREATE TABLE clients(passengerid int PRIMARY KEY, name varchar(50), sex varchar(15), age float);
<br>CREATE TABLE ticket(passengerid int REFERENCES clients(passengerid), pclass int, ticket varchar(30), fare float, cabin varchar(20), embarked varchar(1), CONSTRAINT pk_ticket PRIMARY KEY(passengerid, ticket));
<br>CREATE TABLE survie(passengerid int, survived int, name varchar(50), SibSp int, Parch int, ticket varchar(30), CONSTRAINT fk_ticket PRIMARY KEY(passengerid, survived));

<br>\copy clients FROM /home/boyaval/SAE_clients.csv DELIMITER ';' CSV HEADER;
<br>\copy ticket FROM /home/boyaval/SAE_ticket.csv DELIMITER ';' CSV HEADER;
<br>\copy survie FROM /home/boyaval/SAE_survie.csv DELIMITER ';' CSV HEADER;

In [ ]:
%load_ext sql
%sql postgresql://postgres:PSQL@localhost/postgres

In [ ]:
%%sql
SET datestyle TO "ISO , DMY";

DROP TABLE IF EXISTS survie;
DROP TABLE IF EXISTS ticket;
DROP TABLE IF EXISTS clients;

CREATE TABLE clients(passengerid int PRIMARY KEY, name varchar(83), sex varchar(15), age varchar(5));
CREATE TABLE ticket(passengerid int REFERENCES clients(passengerid), pclass int, ticket varchar(30), fare float, cabin varchar(20), embarked varchar(1), CONSTRAINT pk_ticket PRIMARY KEY(passengerid, ticket));
CREATE TABLE survie(passengerid int, survived bool, name varchar(83), sibsp int, parch int, ticket varchar(30), CONSTRAINT fk_ticket PRIMARY KEY(passengerid, survived));

In [ ]:
import psycopg2
con = psycopg2.connect(database='postgres',user='maxime',password='MaxBoy',host='localhost',)
cur = con.cursor()    
f = open('/home/boyaval/SAE_clients.csv')
cur.copy_from(f, 'clients', columns=('passengerid', 'name', 'sex', 'age'), sep=";")
f.close()
f = open('/home/boyaval/SAE_ticket.csv')
cur.copy_from(f, 'ticket', columns=('passengerid', 'pclass', 'ticket', 'fare', 'cabin', 'embarked'), sep=";")
f.close()
f = open('/home/boyaval/SAE_survie.csv')
cur.copy_from(f, 'survie', columns=('passengerid', 'survived', 'name', 'sibsp', 'parch', 'ticket'), sep=";")
f.close()
con.commit()
con.close()

## DÉMO:

In [ ]:
clients = %sql select* from clients
clients.DataFrame()

In [ ]:
ticket = %sql select* from ticket
ticket.DataFrame()

In [ ]:
survie = %sql select* from survie
survie.DataFrame()